  /*Heart shape*/
  @keyframes fall{
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;

    }
  }
  .heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff69b4;
    clip-path: polygon(50% 0%,100% 35%, 85% 100%, 50% 75%, 15% 100%, 0% 35%);
     animation: fall so infinite linear;
     opacity: 0;
  }

  .heart:nth-child(1){
    left: 10%;
    animation-duration: 9s;
}
  .heart::nth-child(2){
    left: 30%;
    animation-duration: 7s;
  }
  .heart::nth-child(3){
    left: 50%;
    animation-duration: 6s;
  }
  .heart::nth-child(4){
    left: 70%;
    animation-duration: 5s;
  }
  .heart::nth-child(5){
    left: 90%;
    animation-duration: 6.5s;
  }

  /*Make hearts start randomly*/
  @keyframes delayStart {
    0% { visibility: hidden; } 
    1% { visibility: visible; }
    100% { visibility: visible; }

  }

  body{
    margin: 0;
    font-family: 'Comic  Sans MS', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffcccb; 
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 
    rgbs(0,0,0,2);
}
.title{
    font-size: 4em;
    margin-bottom: 15px;
    color: #ff4d4d;   
}

.highlight{
    color: #ff1493;
    font-weight: bold;
}

.subtext {
    font-size: 1.5em;
    color: #808080;
    margin-bottom: 30px ;
}

.btn {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 25px;
    margin: 15px;
    border: none;
    border-radius: 30px;
    font-size: 1.5em;
    cursor: pointor;
    transition: background-color
    0.3 ease;
}

.btn:hover {
      background-color: #ff1a1a;

}

.message {
     font-size: 2em;
     margin-top: 20px;
     color: #ff1493;

}